*{margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width: 100vw;

}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    display: block;
    background-color: brown;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: 800;
    text-decoration: none;
}

